﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - IceCreamPOS</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Theme/plugins/fontawesome-free/css/all.css" rel="stylesheet" />

    <!-- daterange picker -->
    <link rel="stylesheet" href="~/Theme/plugins/daterangepicker/daterangepicker.css">

    <!-- date picker -->
    <link href="~/Theme/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/Theme/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/Theme/plugins/toastr/toastr.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Theme/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <!-- overlayScrollbars -->
    <link href="~/Theme/dist/css/adminlte.css" rel="stylesheet" />
     
</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            @*<a href="../../index3.html" class="brand-link">
                <img src="~/Theme/dist/img/AdminLTELogo.png"
                     alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>*@

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Image/shahed suman.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a asp-action="Index" asp-controller="Home" class="d-block">Shahed Sumon</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                @*<div style="margin-top:100px"></div>*@
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-header">Setup Module</li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book "></i>
                                <p>
                                    Product
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Items" asp-action="Create" class="nav-link">
                                        <i class="nav-icon far fa-circle text-warning"></i>
                                        <p>New Product</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Items" asp-action="Index" class="nav-link">
                                        <i class="nav-icon far fa-circle text-warning"></i>
                                        <p>Product List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Fridge Brand
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Brands" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Brand</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Brands" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Brand List</p>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Fridge Info
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Fridges" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Fridge</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Fridges" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Fridge List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Outlet
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Outlets" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Outlet</p>
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Outlets" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Outlet List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>


                        <li class="nav-header">Operation Module</li>

                        @*<li class="nav-item has-treeview">
            <a asp-area="" asp-controller="Deposites" asp-action="Create" class="nav-link">
                <i class="nav-icon fas fa-book"></i>
                <p>
                    Make Deposite
                </p>
            </a>
        </li>*@

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Deposite
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Deposites" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Make Deposite</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Deposites" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Deposite List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Collection
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Collections" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Collection</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Target
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Targets" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Target</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Targets" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Target List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Purchase
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Purchases" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Purchase</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Purchases" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Purchase List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>



                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Sales
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Sales" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Sale</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Sales" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Sales Order List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>
                                    Bad Goods Return
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="BadGoodsReturns" asp-action="Create" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>New Record</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="BadGoodsReturns" asp-action="Index" class="nav-link">
                                        <i class="far fa-circle nav-icon text-warning"></i>
                                        <p>Bad Goods Return List</p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-header">Report Module</li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Report" asp-action="Stock" class="nav-link">
                                <i class="fas fa-circle nav-icon text-success"></i>
                                <p>Stock</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Report" asp-action="CustomerProfile" class="nav-link">
                                <i class="fas fa-circle nav-icon text-success"></i>
                                <p>Customer Profile</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Report" asp-action="CustomerDueList" class="nav-link">
                                <i class="fas fa-circle nav-icon text-success"></i>
                                <p>Customer Due List</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Report" asp-action="BalanceSheet" class="nav-link">
                                <i class="fas fa-circle nav-icon text-success"></i>
                                <p>Balance Sheet</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Report" asp-action="TargetVsAchievement" class="nav-link">
                                <i class="fas fa-circle nav-icon text-success"></i>
                                <p>Target Vs Achievement</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="PromotionalOffers" asp-action="Index" class="nav-link">
                                <i class="fas fa-circle nav-icon text-success"></i>
                                <p>Promotional Offers</p>
                            </a>
                        </li>



                        @*<li class="nav-header">LABELS</li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-danger"></i>
                <p class="text">Important</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-warning"></i>
                <p>Warning</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-info"></i>
                <p>Informational</p>
            </a>
        </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        @*<footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.2
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>*@

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Theme/plugins/jquery/jquery.min.js"></script>
    <script src="~/Theme/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- jQuery Knob -->
    <script src="~/Theme/plugins/jquery-knob/jquery.knob.min.js"></script>

    <!-- date-range-picker -->
    <script src="~/Theme/plugins/daterangepicker/daterangepicker.js"></script>

    <!-- SweetAlert2 -->
    <script src="~/Theme/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Toastr -->
    <script src="~/Theme/plugins/toastr/toastr.min.js"></script>

    <!-- DataTables -->
    <script src="~/Theme/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Theme/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Theme/dist/js/demo.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
