﻿@model IceCreamPOS.ViewModels.CollectionVm

@{
    ViewData["Title"] = "Create";
}

<div class="card card-info">
    <div class="card-header">
        <div class="h5 font-weight-bold text-center">New Collection</div>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-4 offset-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EnterpriseId" class="control-label">Enterprise</label>
                        <select asp-for="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseId">
                            <option value="">---Select Enterprise---</option>
                        </select>
                        <span asp-validation-for="EnterpriseId" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OutletId" class="control-label">Outlet</label>
                        <select asp-for="OutletId" class="form-control" asp-items="ViewBag.OutletId">
                            <option value="">---Select Outlet---</option>
                        </select>
                        <span asp-validation-for="OutletId" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TotalDue" class="control-label">Total Due</label>
                        <input asp-for="TotalDue" readonly class="form-control" />
                        <span asp-validation-for="TotalDue" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-group">
                        <label for="Date" class="control-label">Date</label>
                        <input placeholder="Select a Date" autocomplete="off" type="text" asp-for="Date" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger font-weight-bold"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="NewCollection" class="control-label">New Collection</label>
                        <input asp-for="NewCollection" placeholder="Enter Collection Amount" class="form-control" />
                        <span asp-validation-for="NewCollection" class="text-danger font-weight-bold"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Particular" class="control-label">Particular</label>
                        <input asp-for="Particular" placeholder="Enter a Particular" class="form-control" />
                        <span asp-validation-for="Particular" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="btnSave" class="btn btn-block btn-success  font-weight-bold">
                            <i class="fas fa-save"></i>
                            Save Collection
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


   
    <script src="~/js/ProjectScript/Collection.js"></script>

    <script type="text/javascript">
        var msg ="@ViewBag.successMsg";
        console.log(msg);
        if (msg != "No") {
        toastr.success(msg);
        }
    </script>



}
