﻿@model IceCreamPOS.Models.Target

@{
    ViewData["Title"] = "Create";
}

<style>
    .ui-datepicker-calendar {
    display:none
}

</style>

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">New Target</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form asp-action="Create">

                    <div class="form-group">
                        <label asp-for="EnterpriseId" class="control-label">Enterprise</label>
                        <select asp-for="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseId">
                            <option value="">Select an Enterprise</option>
                        </select>
                        <span asp-validation-for="EnterpriseId" class="text-danger font-weight-bold"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FoodTypeId" class="control-label">Food Type</label>
                        <select asp-for="FoodTypeId" class="form-control" asp-items="ViewBag.FoodTypeId">
                            <option value="">Select Food Type</option>
                        </select>
                        <span asp-validation-for="FoodTypeId" class="text-danger font-weight-bold"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="Month" class="control-label"></label>
                        <input asp-for="Month" placeholder="Select a Month" readonly type="text" class="form-control" />
                        <span asp-validation-for="Month" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TargetAmount" class="control-label">Target Amount</label>
                        <input asp-for="TargetAmount" placeholder="Enter Target Amount" class="form-control" />
                        <span asp-validation-for="TargetAmount" class="text-danger font-weight-bold"></span>
                    </div>

                    <div class="form-group">

                        <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                            <i class="fas fa-save"></i>
                            Add Target
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#Month').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM/yy',
            showButtonPanel: true,

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth));
            },
        });

    </script>
}
