﻿@model IceCreamPOS.Models.Target

@{
    ViewData["Title"] = "Delete";
}
<div class="card card-danger">
    <div class="card-header">
        <h3>Delete</h3>
        <h5>Are you sure you want to delete this?</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Enterprise
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enterprise.Name)
            </dd>
            <dt class="col-sm-2">
                Food Type
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FoodType.Name)
            </dd>
            <dt class="col-sm-2">
                Month
            </dt>
            <dd class="col-sm-10">
                @Model.Month.Month/@Model.Month.Year
            </dd>
            <dt class="col-sm-2">
                Target Amount
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TargetAmount)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-primary"><i class="fas fa-list"></i> Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </form>
    </div>
</div>