﻿@model IceCreamPOS.Models.Target

@{
    ViewData["Title"] = "Edit";
}

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">Update Target Amount</div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-4 offset-4">
                <form asp-action="Edit">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="TargetAmount" class="control-label">Target Amount </label>
                        <input asp-for="TargetAmount" class="form-control" />
                        <span asp-validation-for="TargetAmount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Month" class="control-label"></label>
                        <input asp-for="Month" type="text" readonly value="@Model.Month.Month/@Model.Month.Year" class="form-control" />
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnterpriseId" class="control-label">Enterprise</label>
                        <input type="hidden" name="EnterpriseId" value="@Model.EnterpriseId" />
                        <select asp-for="EnterpriseId" disabled class="form-control" asp-items="ViewBag.EnterpriseId"></select>
                        <span asp-validation-for="EnterpriseId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FoodTypeId" class="control-label">FoodType</label>
                        <input type="hidden" name="FoodTypeId" value="@Model.FoodTypeId" />
                        <select asp-for="FoodTypeId" disabled class="form-control" asp-items="ViewBag.FoodTypeId"></select>
                        <span asp-validation-for="FoodTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-info  font-weight-bold">
                            <i class="fas fa-sync-alt"></i>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-primary font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
