﻿@model IceCreamPOS.Models.FridgeBrand

@{
    ViewData["Title"] = "Create";
}


<div class="card card-info">
    <div class="card-header">
        <div class="text-center h5 font-weight-bold">Add Brand</div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-4 offset-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                            <i class="fas fa-save"></i>
                            Save Brand
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-primary font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

     @*<script type="text/javascript">
         var msg="@ViewBag.Msg";
         if (msg!="") {
             toastr.success(msg);
             msg = "";
         }
     </script>*@
}
