﻿@model IceCreamPOS.Models.FridgeBrand

@{
    ViewData["Title"] = "Edit";
}


    <div class="card card-info">
        <div class="card-header">
            <h3 class="h5 text-center font-weight-bold">Update Brand</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-4 offset-4">
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" name="editValue" value="@Model.Name" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                                <i class="fas fa-sync-alt"></i>
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a class="btn btn-primary btn-sm font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
            </div>
        </div>
    </div>