﻿@model IceCreamPOS.Models.Purchase

@{
    ViewData["Title"] = "Purchase";
}


    <ul class="list-group">
        <li class="list-group-item list-group-item-info">
            <div class="h4 font-weight-bold text-center">Purchase Product</div>
        </li>
        <li class="list-group-item list-group-item-success">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                        <label asp-for="PurchaseNumber" class="control-label">Reciept No.</label>
                        <input asp-for="PurchaseNumber" value="@ViewBag.PurchaseNumber" readonly class="form-control" />
                        <span asp-validation-for="PurchaseNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="EnterpriseId" class="control-label"></label>
                        <select asp-for="EnterpriseId" class="form-control" asp-items="@(new SelectList(ViewBag.EnterpriseList,"Id","Name"))">
                            <option value="">---Select Enterprise---</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label asp-for="PurchaseDate" class="control-label"></label>
                        <input id="PurchaseDate" readonly class="form-control" />
                        <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </li>
        <li class="list-group-item list-group-item-primary">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="FoodType" class="control-label">Product Type</label>
                        <select name="FoodTypeId" id="FoodTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.FoodTypeList,"Id","Name"))">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Product" class="control-label">Product</label>
                        <select name="ItemId" id="ItemId" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="Quantity" class="control-label">Quantity</label>
                        <input type="text" name="Quantity" id="Quantity" class="form-control" />
                        <span id="Quantity" class="text-danger font-weight-bold"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="PiecePerCarton" class="control-label">Piece Per Carton</label>
                        <input type="text" name="PiecePerCarton" id="PiecePerCarton" readonly class="form-control" />
                        <span id="PiecePerCarton" class="text-danger font-weight-bold"></span>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="UnitPrice" class="control-label">Unit Price</label>
                        <input type="text" name="UnitPrice" id="UnitPrice" readonly class="form-control" />
                        <span id="UnitPrice" class="text-danger font-weight-bold"></span>
                    </div>
                </div>


                <div class="col">
                    <div style="margin-top:31px">

                    </div>
                    <button class="btn btn-primary" id="btnAdd" type="button">
                        <i class="fas fa-plus"></i>
                        Add Item
                    </button>

                </div>
            </div>
        </li>
        <li class="list-group-item list-group-item-primary">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>SL</th>
                        <th>Product Name</th>
                        <th>Quantity</th>

                        <th>Unit Price</th>
                        <th>Piece Per Carton</th>
                        <th>Total Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="PurchaseItemList">
                </tbody>
            </table>
        </li>

        <li class="list-group-item list-group-item-info">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="SubTotal" class="control-label">Sub Total</label>
                        <input asp-for="SubTotal" readonly class="form-control" />
                        <span asp-validation-for="SubTotal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Discount" class="control-label">Discount(%)</label>
                        <input asp-for="Discount" placeholder="Enter Discount" max="100" min="0" type="number" class="form-control" />
                        <span asp-validation-for="Discount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                        <input asp-for="TotalAmount" readonly class="form-control" />
                        <span asp-validation-for="TotalAmount" class="text-danger"></span>
                    </div>
                </div>

            </div>
        </li>

        <li class="list-group-item list-group-item-info">
            <div class="col-md-4 offset-4">
                <button id="btnSubmit" value="Purchase" class="btn btn-success font-weight-bold btn-block" onclick="onSubmit()">
                    <i class="fas fa-save"></i>
                    Purchase
                </button>

                @*<input type="button" id="btnSubmit" value="Purchase" class="btn btn-success btn-block" onclick="onSubmit()" />*@
            </div>

        </li>

    </ul>
<br />
    <div>
        <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ProjectScript/Purchase.js"></script>
}
