﻿@model IceCreamPOS.Models.Purchase
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Purchase Receipt</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <br />
    <div class="row">
        <div class="col-8 offset-2">
            <button class="btn btn-primary mb-4 font-weight-bold" onClick="javascript:CallPrint('divPrint');">Print</button>
        </div>
    </div>
    <div id="divPrint">
        <div class="row">
            <div class="col-sm-12 col-lg-8 offset-lg-2">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3"><div class="h4 text-center">Purchase Receipt</div></td>
                    </tr>
                    <tr>

                        <td class="font-weight-bold">Enterprise</td>
                        <td>@Model.Enterprise.Name</td>
                        <td rowspan="3">

                            <div class="text-center  pt-md-2">
                                <div>Receipt No.</div>
                                <div class="font-weight-bold ">@Model.PurchaseNumber</div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Purchase Date</td>
                        <td>@Model.PurchaseDate.ToString("dd MMMM, yyyy")</td>
                    </tr>
                </table>

                <div class="font-weight-bold text-center">Purchase Details</div>
                <br />

                <table class="table table-bordered">

                    <thead style="font-weight:bold">
                        <tr>
                            <td>SL</td>
                            <td>Item Name</td>
                            <td>Unit Price</td>
                            <td>Quantity</td>
                            <td>Piece Per Carton</td>
                            <td>Total Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0; }
                        @if (Model.PurchaseDetails != null)
                        {
                            foreach (var item in Model.PurchaseDetails)
                            {
                        <tr>
                            @{count++; }
                            <td>@count</td>
                            <td>@item.Item.Name</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td>@item.PiecePerCarton.ToString("0.#####")</td>
                            <td>@item.TotalPrice.ToString("N")</td>
                        </tr>
                            }
                        }


                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col-4 offset-8">
                        <table class="table">
                            <tr>
                                <td class="font-weight-bold">Sub Total</td>
                                <td>@Model.SubTotal.ToString("N")</td>    
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Discount</td>
                                <td>@Model.Discount.ToString("N")%</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total Amount</td>
                                <td>@Model.TotalAmount.ToString("N")</td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    </div>


    <script type="text/javascript">
        function CallPrint(divName) {
            var originalWindow = document.body.innerHTML;

            var printContents = document.getElementById(divName).innerHTML;

            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalWindow;
        }

    </script>
</body>
</html>