﻿@model IEnumerable<IceCreamPOS.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}
<div class="card card-info">
    <div class="card-header">
        <div class=" text-center font-weight-bold">Purchase List</div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <a asp-action="create" class="btn btn-success  font-weight-bold">
            <i class="fas fa-plus"></i>
             New Purchase
        </a>
        <hr />
        <table id="datatable" class="table table-bordered table-striped">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>Receipt No</th>
                    <th>Enterprise</th>
                    <th>Date</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PurchaseNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enterprise.Name)
                        </td>
                        <td>
                            @item.PurchaseDate.ToString("dd MMMM, yyyy")
                        </td>
                        <td>
                            @item.TotalAmount.ToString("N")
                        </td>
                        <td>

                            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id" target="_blank">
                                <i class="fas fa-th">
                                </i>
                                Details/Print
                            </a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>