﻿@model IceCreamPOS.Models.Item

@{
    ViewData["Title"] = "Create";
}

    <div class="card card-info">
        <div class="card-header">
            <div class="h5 font-weight-bold text-center">Add Product</div>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-4 offset-4">
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger font-weight-bold"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FoodTypeId" class="control-label"></label>
                            <select asp-for="FoodTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.FoodTypeList,"Id","Name"))">
                                <option value="">---Select Food Type---</option>
                            </select>
                            <span asp-validation-for="FoodTypeId" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SalesPrice" class="control-label"></label>
                            <input asp-for="SalesPrice" type="number" class="form-control" />
                            <span asp-validation-for="SalesPrice" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PurchasePrice" class="control-label"></label>
                            <input asp-for="PurchasePrice" type="number" class="form-control" />
                            <span asp-validation-for="PurchasePrice" class="text-danger font-weight-bold"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="PiecePerCarton" class="control-label"></label>
                            <input asp-for="PiecePerCarton" type="number" class="form-control" />
                            <span asp-validation-for="PiecePerCarton" class="text-danger font-weight-bold"></span>
                        </div>

                        <div class="form-group">
                            
                            <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                                <i class="fas fa-save"></i>
                                Save Product
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
            </div>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
