﻿@model IceCreamPOS.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<div class="card card-danger">
    <div class="card-header">
        <h3>Delete</h3>
        <h5>Are you sure you want to delete this?</h5>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalesPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalesPrice)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PurchasePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PurchasePrice)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-primary"><i class="fas fa-list"></i> Back to List</a>
            <input type="submit" value="Delete" class="btn btn-danger" />

        </form>
    </div>
</div>
