﻿@model IEnumerable<IceCreamPOS.Models.Item>

@{
    ViewData["Title"] = "Index";
}


<div class="card card-info">
    <div class="card-header">
        <div class="h5 text-center font-weight-bold">Product List</div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <a asp-action="create" class="btn btn-success  font-weight-bold">
            <i class="fas fa-plus"></i>
            Add New
        </a>
        <hr />
        <table id="datatable" class="table table-bordered table-striped">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Sales Price</th>
                    <th>Purchase Price</th>
                    <th>Piece Per Carton</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr id="DelRow_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FoodType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SalesPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchasePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PiecePerCarton)
                    </td>
                    <td>

                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>

                    </td>
                </tr>
                }

            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>





@section Scripts {
  <script type="text/javascript">

  </script>

}


