﻿@model IEnumerable<IceCreamPOS.ViewModels.BalanceSheetVM>
@{
    ViewData["Title"] = "BalanceSheet";
}

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">
            Balance Sheet
        </div>
    </div>
    <div class="card-body">
        <form asp-action="BalanceSheet">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="EnterpriseId" class="control-label">Enterprise</label>
                        <select id="EnterpriseId" name="EnterpriseId" class="form-control" asp-items="@(new SelectList(ViewBag.EnterpriseList,"Id","Name"))">
                            <option value="">---Select Enterprise---</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="FromDate" class="control-label">From Date</label>
                        <input id="FromDate" name="FromDate" autocomplete="off" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="ToDate" class="control-label">To Date</label>
                        <input id="ToDate" name="ToDate" autocomplete="off" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary" id="btnSubmit">
                    <i class="fas fa-search">

                    </i>
                    Search
                </button>
                @*<input type="submit" class="btn btn-success" id="btnSubmit" value="Search" />*@
            </div>
            <div class="clearfix">

            </div>
        </form>




        <hr />
        @*<div class="row">
            <div class="col">
                <span class="font-weight-bold">Enterprise:</span><span id=""></span>
            </div>
            <div class="col">
                <span class="font-weight-bold">Date-Range:         </span><span id="fromDateShow"></span> - <span id="toDateShow"></span>
            </div>
        </div>*@

        <div class="row">
            <div class="col">
                <span class="font-weight-bold">Enterprise:</span> @ViewBag.Enterprise
            </div>
            <div class="col">
                <span class="font-weight-bold">Date-Range:         </span>@ViewBag.DateRange
            </div>
        </div>
        <hr />
        <table class="table table-bordered table-striped" id="datatable">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Particular
                    </th>
                    <th>
                        Voucher No
                    </th>
                    <th>
                        Invoice
                    </th>
                    <th>
                        Deposite
                    </th>
                    <th>
                        Balance
                    </th>
                    <th>
                        Profit
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Date.ToString("dd MMMM, yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Particular)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VoucherNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Invoice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Deposite)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Profit)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ProjectScript/BalanceSheet.js"></script>
}