﻿@model IEnumerable<IceCreamPOS.Models.Collection>

@{
    ViewData["Title"] = "CollectionHistory";
}


<div class="card card-info">
    <div class="card-header">
        <div class="h5 text-center font-weight-bold">Collection History</div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="datatable" class="table table-bordered table-striped">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>
                        Enterprise
                    </th>
                    <th>
                        Outlet
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Collection Amount
                    </th>
                    <th>
                        Particular
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Enterprise.Name
                        </td>
                        <td>
                            @item.Outlet.Name
                        </td>
                        <td>
                            @item.Date.ToString("dd MMMM, yyyy")
                        </td>
                        <td>
                            @item.CollectionAmount.ToString("N")
                        </td>
                        <td>
                            @item.Particular
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>