﻿@model IEnumerable<IceCreamPOS.ViewModels.CustomerProfileVm>

@{
    ViewData["Title"] = "CustomerProfile";
    decimal totalDueAmount = 0;

    if(Model != null)
    {
        foreach (var item in Model)
        {
            if (item.TotalDue > 0)
            {
                totalDueAmount = totalDueAmount + item.TotalDue;
            }
        }
    }


}

<style>
    .ui-datepicker-calendar {
        display: none
    }
</style>

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">Customer Due List</div>
    </div>
    <div class="card-body">
        <form asp-action="CustomerDueList" id="form">

            <div class="">
                <div class="row">

                    <div class="col-4 offset-4">
                        <div class="form-group">
                            <label for="EnterpriseId" class="control-label">Enterprise</label>
                            <select name="EnterpriseId" id="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseList">
                                <option value="">---Select One---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="OutletId" class="control-label">Outlet</label>
                            <select name="OutletId" id="OutletId" class="form-control" asp-items="ViewBag.OutletList">
                                <option value="">---Select One---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-primary" id="btnSearch" onclick="">
                                <i class="fas fa-search"></i>
                                Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <b>Total Due Amount: @totalDueAmount</b>
                </div>
            </div>



            <div class="row">
                <div class="col-4 offset-4">
                    
                </div>
            </div>

        </form>

        <hr />

        <table id="datatable" class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <th>
                        Outlet
                    </th>

                    <th>
                        Total Due
                    </th>

                    <th>
                        Payment Status
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.OutletName)
                            </td>

                            <td>
                                @item.TotalDue.ToString("N")
                            </td>

                            <td>

                                @if (item.TotalDue > 0)
                                {
                                    
                                    <span class="badge bg-danger">Due</span>
                                }

                                else
                                {
                                    <span class="badge bg-success">Paid</span>
                                   }

                            </td>

                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#Month').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM/yy',
            showButtonPanel: true,

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth));
            },
        });


        $("#btnSearch").on("click", function (e) {
            var enterpriseId = $("#EnterpriseId").val();
            var date = $("#Month").val();

            if (enterpriseId == "" || enterpriseId == undefined) {
                toastr.error("Select an Enterprise");
                e.preventDefault();
                return false;
            }
            if (date == "" || enterpriseId == undefined) {
                toastr.error("Select a Month");
                e.preventDefault();
                return;
            }
        })

    </script>
}