﻿@model IEnumerable<IceCreamPOS.ViewModels.CustomerProfileVm>

@{
    ViewData["Title"] = "CustomerProfile";
}

    <style>
        .ui-datepicker-calendar {
            display: none
        }
    </style>

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">Customer Profile</div>
    </div>
    <div class="card-body">
        <form asp-action="CustomerProfile" id="form">

            <div class="col-8 offset-2">
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label for="EnterpriseId" class="control-label">Enterprise</label>
                            <select name="EnterpriseId" id="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseList">
                                <option value="">---Select One---</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="OutletId" class="control-label">Outlet</label>
                            <select name="OutletId" id="OutletId" class="form-control" asp-items="ViewBag.OutletList">
                                <option value="">---Select One---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col">

                        <div class="form-group">
                            <label for="Month" class="control-label">Month</label>
                            <input name="Month" id="Month" placeholder="Select a Month" readonly type="text" class="form-control" />
                            <span id="Month" class="text-danger font-weight-bold"></span>
                        </div>
                        <div class="form-group">
                            <label for="AmountType" class="control-label">Payment Type</label>
                            <select name="AmountType" class="form-control" asp-items="ViewBag.AmountType">
                                <option value="">--Select One--</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            


            <div class="row">
                <div class="col-4 offset-4">
                    <div class="form-group">
                        <label class="control-label mt-3">    </label>
                        <button type="submit" class="btn btn-block btn-primary" id="btnSearch" onclick="">
                            <i class="fas fa-search"></i>
                            Search
                        </button>
                    </div>
                </div>
            </div>

        </form>

        <hr />

        <table id="datatable" class="table table-bordered">
            <thead class="bg-secondary">
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Outlet
                    </th>

                    <th>
                        Total
                    </th>
                    <th>
                        Collection
                    </th>
                    <th>
                        Due
                    </th>

                    <th>
                        Payment Status
                    </th>
                    <th>
                        Transaction History
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @item.Month.ToString("MMMM, yyyy")
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.OutletName)
                    </td>
                    <td>
                        @item.TotalAmount.ToString("N")
                    </td>
                    <td>
                        @item.TotalCollection.ToString("N")
                    </td>
                    <td>
                        @item.Due.ToString("N")
                    </td>

                    <td>

                            @if (item.Due > 0)
                            {
                               <span class="badge bg-danger">Due</span>
                            }

                            else
                            {
                                <span class="badge bg-success">Paid</span>
                            }
                        
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="CollectionHistory" target="_blank"  asp-route-val="@item.Month.ToShortDateString()$@item.EnterpriseId$@item.OutletId">
                            <i class="fas fa-chevron-circle-right">
                            </i>
                            Collection History
                        </a>
                    </td>

                </tr>
                    }
                }


            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#Month').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM/yy',
            showButtonPanel: true,

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth));
            },
        });


        $("#btnSearch").on("click", function (e) {
            var enterpriseId = $("#EnterpriseId").val();
            var date = $("#Month").val();

            if (enterpriseId == "" || enterpriseId == undefined) {
                toastr.error("Select an Enterprise");
                e.preventDefault();
                return false;
            }
            if (date == "" || enterpriseId == undefined) {
                toastr.error("Select a Month");
                e.preventDefault();
                return;
            }
        })

    </script>
}