﻿@model IEnumerable<IceCreamPOS.ViewModels.StockVm>

@{
    ViewData["Title"] = "Stock";


    double totalAmount = 0;

    if(Model != null)
    {
        foreach (var item in Model)
        {
            totalAmount = totalAmount + item.TotalPrice;
        }
    }

}

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">Stock Report</div>
    </div>
    <div class="card-body">
        <form asp-action="Stock">
            <div class="row">



                <div class="col">
                    <div class="form-group">
                        <label for="EnterpriseId" class="control-label">Enterprise</label>
                        <select id="EnterpriseId" name="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseList">
                            <option value="">---Select Enterprise---</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="FoodTypeId" class="control-label">Product Type</label>
                        <select id="FoodTypeId" name="FoodTypeId" class="form-control" asp-items="ViewBag.FoodTypeList">
                            <option value="">---Select Food Type---</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <div style="margin-top:31px">  </div>
                        <input type="submit" class="btn btn-primary " id="btnSearch" value="Search" />
                    </div>
                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <b>Total Amount: @totalAmount</b>
            </div>
        </div>

        <hr />
        <div class="row">
            <div class="col">
                <table id="datatable" class="table table-bordered">
                    <thead class="bg-gradient-gray">
                        <tr>
                            <th>
                                Product
                            </th>
                            <th>
                                Product Type
                            </th>

                            <th>
                                Stock Quantity
                            </th>
                            <th>
                               Total Price
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StockQuantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalPrice)

                            </td>
                        </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ProjectScript/Stock.js"></script>
}