﻿
@{
    ViewData["Title"] = "TargetVsAchievement";
}

<style>
    .ui-datepicker-calendar {
        display: none
    }
</style>

<div class="row">
    <div class="col-12">
        <div class="bg-info p-2 font-weight-bold h4 text-center">Target VS Achievement</div>
    </div>
</div>
<div class="col-6 offset-3">
    <div class="form-group">
        <input id="Month" placeholder="Select a Month" style="border-top-right-radius:0px;border-bottom-right-radius:0px" readonly type="text" class="form-control float-left col-md-8" />
        <input id="btnShowResult" type="button" style="border-top-left-radius:0px;border-bottom-left-radius:0px" value="Show Result" class="btn btn-primary " />
        <div class="clearfix"></div>
    </div>
</div>
<hr />


<div class="row">
    <div class="col-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    <div><span class="font-weight-bold">Enterprise: </span><span>L.R Enterprise</span> </div>
                    <div><span class="font-weight-bold">Food Type:</span> <span>Ice Cream</span>   </div>
                </div>
            </div>
            <div class="card-body" style="margin:0px auto">

                <input type="text" class="knob" id="lrIce" value="0" data-animation="true" data-width="150" data-height="150" data-fgColor="#3c8dbc" data-readonly="true">
                <div class="text-center h5">(%)</div>

                <div class="h4">

                    <div><span class="font-weight-bold">Target: </span><span id="lrIceTarget"></span> </div>
                    <div><span class="font-weight-bold">Achievement:</span> <span id="lrIceAchievement"> </span>   </div>

                </div>


            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    <div><span class="font-weight-bold">Enterprise: </span><span>L.R Enterprise</span> </div>
                    <div><span class="font-weight-bold">Food Type:</span> <span>Frozen Food</span>   </div>
                </div>
            </div>
            <div class="card-body" style="margin:0px auto">
                <input type="text" id="lrFrozen" class="knob" value="0" data-width="150" data-height="150" data-fgColor="#3c8dbc" data-readonly="true">
                <div class="text-center h5">(%)</div>

                <div class="h4">

                    <div><span class="font-weight-bold">Target: </span><span id="lrFrozenTarget"></span> </div>
                    <div><span class="font-weight-bold">Achievement:</span> <span id="lrFrozenAchievement"> </span>   </div>

                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="card-title">
                    <div><span class="font-weight-bold">Enterprise: </span><span>Toufiq Enterprise</span> </div>
                    <div><span class="font-weight-bold">Food Type:</span> <span>Ice Cream</span>   </div>
                </div>
            </div>
            <div class="card-body" style="margin:0px auto">

                <div>
                    <input type="text" class="knob" id="toufiq" value="0" data-width="150" data-height="150" data-fgColor="#3c8dbc"
                           data-readonly="true">
                    <div class="text-center h5">(%)</div>
                </div>
                <div class="h4">

                    <div><span class="font-weight-bold">Target: </span><span id="toufiqTarget"></span> </div>
                    <div><span class="font-weight-bold">Achievement:</span> <span id="toufiqAchievement"> </span>   </div>

                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        /* jQueryKnob */

        $('.knob').knob({
            change: function (value) {
                //console.log("change : " + value);
            },
            release: function (value) {
                console.log("release : " + value);
            },
            cancel: function () {
                console.log("cancel : " + this.value);
            },
            
            draw: function () {

                // "tron" case
                if (this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv)  // Angle
                        ,
                        sa = this.startAngle          // Previous start angle
                        ,
                        sat = this.startAngle         // Start angle
                        ,
                        ea                            // Previous end angle
                        ,
                        eat = sat + a                 // End angle
                        ,
                        r = true

                    this.g.lineWidth = this.lineWidth

                    this.o.cursor
                        && (sat = eat - 0.3)
                        && (eat = eat + 0.3)

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.value)
                        this.o.cursor
                            && (sa = ea - 0.3)
                            && (ea = ea + 0.3)
                        this.g.beginPath()
                        this.g.strokeStyle = this.previousColor
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false)
                        this.g.stroke()
                    }

                    this.g.beginPath()
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false)
                    this.g.stroke()

                    this.g.lineWidth = 2
                    this.g.beginPath()
                    this.g.strokeStyle = this.o.fgColor
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false)
                    this.g.stroke()

                    return false
                }
            }
        })
        /* END JQUERY KNOB */

        $('#Month').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM/yy',
            showButtonPanel: true,

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth));
            },
        });

        $('#btnShowResult').on("click", function () {
            var month = $('#Month').val();

            $.ajax({
                url: "/Targets/GetTargetResult",
                data: { date: month },
                type: "post",
                success: function (response) {
                    console.log(response);
                    if (response != 0 || response != null) {
                        $("#lrIce").val(response[0].percentage);
                        $("#lrIce").removeClass('knob');
                        $("#lrIce").addClass('knob');

                        $("#lrIceTarget").html(response[0].target);
                        $("#lrIceAchievement").html(response[0].achievement);

                        $("#lrFrozen").val(response[1].percentage);
                        $("#lrFrozenTarget").html(response[1].target);
                        $("#lrFrozenAchievement").html(response[1].achievement);

                        $("#toufiq").val(response[2].percentage);
                        $("#toufiqTarget").html(response[2].target);
                        $("#toufiqAchievement").html(response[2].achievement);

                        $('.knob').trigger('change').trigger('draw');

                    }
                    else {

                    }
                }

            });

        });


    </script>
}
