﻿@model IceCreamPOS.Models.Fridge

@{
    ViewData["Title"] = "Create";
}



<div class="card card-info">
    <div class="card-header">
        <div class="h5 font-weight-bold text-center">Fridge Details</div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-4 offset-4">
                <form asp-action="Create">

                    <div class="form-group">
                        <label asp-for="FridgeBrandId" class="control-label">Brand Name</label>
                        <select asp-for="FridgeBrandId" class="form-control" asp-items="@(new SelectList(ViewBag.FridgeBrandList,"Id","Name"))">
                            <option value="">---Select Brand---</option>
                        </select>
                        <span asp-validation-for="FridgeBrandId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Fridge Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ModelNumber" class="control-label">Model Number</label>
                        <input asp-for="ModelNumber" class="form-control" />
                        <span asp-validation-for="ModelNumber" class="text-danger"></span>
                    </div>


                    <div class="form-group">

                        <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                            <i class="fas fa-save"></i>
                            Save Fridge Info
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
