﻿@model IceCreamPOS.Models.BadGoodsReturn

@{
    ViewData["Title"] = "Create";
}

<ul class="list-group">
    <li class="list-group-item list-group-item-info">
        <div class="h4 font-weight-bold text-center">Bad Goods Return Tile</div>
    </li>
    <li class="list-group-item list-group-item-success">
        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label asp-for="EnterpriseId" class="control-label">Enterprise</label>
                    <select asp-for="EnterpriseId" class="form-control" asp-items="@(new SelectList(ViewBag.EnterpriseList,"Id","Name"))">
                        <option value="">---Select Enterprise---</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input id="Date" readonly class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
            </div>
        </div>


    </li>
    <li class="list-group-item list-group-item-primary">
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="Product" class="control-label">Product</label>
                    <select name="ItemId" id="ItemId" asp-items="@(new SelectList(ViewBag.ItemList,"Id","Name"))" class="form-control">
                        <option value="">---Select Product---</option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="UnitPrice" class="control-label">Price Per Piece</label>
                    <input type="text" name="UnitPrice" id="UnitPrice" readonly class="form-control" />
                    <span id="UnitPrice" class="text-danger font-weight-bold"></span>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="Quantity" class="control-label">Piece</label>
                    <input type="number" name="Quantity" id="Quantity" class="form-control" />
                    <span id="Quantity" class="text-danger font-weight-bold"></span>
                </div>
            </div>


            <div class="col">
                <div style="margin-top:31px">

                </div>
                <button class="btn btn-primary" id="btnAdd" type="button">
                <i class="fas fa-plus"></i>
                Add Item</button>

            </div>
        </div>
    </li>
    <li class="list-group-item list-group-item-primary">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Product Name</th>
                    <th>Piece</th>
                    <th>Price Per Piece</th>
                    <th>Total Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="BadGoodsList">
            </tbody>
        </table>
    </li>

    <li class="list-group-item list-group-item-info">
        <div class="row">
            <div class="col offset-8">
                <div class="form-group">
                    <label asp-for="TotalAmount" class="control-label">Total Amount</label>
                    <input asp-for="TotalAmount" readonly class="form-control" />
                    <span asp-validation-for="TotalAmount" class="text-danger"></span>
                </div>
            </div>

        </div>
    </li>

    <li class="list-group-item list-group-item-info">
        <div class="col-md-4 offset-4">
            <button id="btnSubmit"  class="btn btn-success font-weight-bold btn-block" onclick="onSubmit()">
                <i class="fas fa-save"></i>
                Save
            </button>
        </div>

    </li>

</ul>
<br />
<div>
    <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ProjectScript/BadGoodsReturn.js"></script>
}
