﻿@model IEnumerable<IceCreamPOS.Models.BadGoodsReturn>

@{
    ViewData["Title"] = "Index";
}

<div class="card card-info">
    <div class="card-header">
        <div class="font-weight-bold text-center">Bad Goods Return List</div>
    </div>
    <div class="card-body">
        <a asp-action="create" class="btn btn-success  font-weight-bold">
            <i class="fas fa-plus"></i>
            New Record
        </a>
        <hr />
        <form asp-action="Index">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="EnterpriseId" class="control-label">Enterprise</label>
                        <select id="EnterpriseId" name="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseList">
                            <option value="">---Select Enterprise---</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <label for="FromDate" class="control-label">From Date</label>
                        <input id="FromDate" name="FromDate" readonly autocomplete="off" class="form-control" />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="ToDate" class="control-label">To Date</label>
                        <input id="ToDate" name="ToDate" readonly autocomplete="off" class="form-control" />
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <div style="margin-top:31px">  </div>
                        <button type="submit" class="btn btn-primary font-weight-bold" id="btnSearch">
                            <i class="fas fa-search"></i>
                            Search
                        </button>

                        @*<input type="submit" class="btn btn-primary " id="btnSearch" value="Search" />*@
                    </div>
                </div>

            </div>
        </form>



        <hr />
        <div class="row">
            <div class="col">
                <table id="datatable" class="table table-bordered">
                    <thead class="bg-gradient-gray">
                        <tr>
                            <th>
                                Enterprise
                            </th>
                            <th>
                                Date
                            </th>

                            <th>
                                Total Piece
                            </th>
                            <th>
                                Total Amount
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Enterprise.Name)
                                    </td>
                                    <td>
                                        @item.Date.ToString("dd MMMM, yyyy")
                                    </td>
                                    <td>
                                        @item.BadGoodsReturnDetails.Sum(m => m.Quantity)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>
                                    <td>
                                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id" target="_blank">
                                            <i class="fas fa-list">
                                            </i>
                                            Details
                                        </a>

                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </a>

                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
            $('#FromDate').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd MM, yy',
            });

        $('#ToDate').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd MM, yy',
        });
    </script>
}