﻿@{
    ViewData["Title"] = "Home Page";
}
<style type="text/css">
    .homeBody {
        height: 110vh;
        background-image: linear-gradient(to right,rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url('../Image/icecream.jpg');
        background-size: cover;
        position:relative;
    }
    .heading{
        color:#ffd800;
        font-weight:200;
        position:absolute;
        top:25%;
        left:10%;
        font-size:70px;
        font-family:'Lucida Calligraphy';
        text-align:center;
        letter-spacing:5px;
 

    }
    .subHeading {
        color: white;
        font-weight: 200;
        position: absolute;
        top: 40%;
        left: 18%;
        text-align: center;
        font-size:50px;
        letter-spacing:10px;
    }

</style>
<div class="homeBody">
    <div class="heading">
        Kazifarms Kitchen
    </div>
    <div class="subHeading">
        Good Food Good Life
    </div>
</div>
