﻿@model IceCreamPOS.Models.Outlet

@{
    ViewData["Title"] = "Create";
}

<div class="card card-info">
    <div class="card-header">
        <div class="font-weight-bold  text-center">
            Add Outlet
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4 offset-4">
                <form asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" placeholder="Enter Outlet Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OutletTypeId" class="control-label"></label>
                        <select asp-for="OutletTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.OutletTypeList,"Id","Name"))">
                            <option value="">---Select Outlet Type---</option>
                        </select>
                        <span asp-validation-for="OutletTypeId" class="text-danger"></span>
                    </div>

                    <div id="hideSection">
                        <div class="form-group">
                            <label asp-for="FridgeId" class="control-label"></label>
                            <select asp-for="FridgeId" class="form-control" asp-items="@(new SelectList(ViewBag.FridgeList,"Id","Name"))">
                                <option value="">---Select Fridge---</option>
                            </select>
                            <span id="FridgeIdError" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="FridgeIssueDate" class="control-label"></label>
                            <input asp-for="FridgeIssueDate" placeholder="Select Fridge Issue Date" autocomplete="off" type="text" id="FridgeIssueDate" class="form-control" />
                            <span id="FridgeIssueDateError" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" placeholder="Enter Outlet Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                        <input asp-for="PhoneNumber" placeholder="Enter Outlet Contact Number" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnAdd" class="btn btn-block btn-success  font-weight-bold">
                            <i class="fas fa-save"></i>
                            Add
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#FridgeIssueDate").datepicker({
             changeMonth: true,
            changeYear: true,
            dateFormat: 'dd MM, yy'
            });
        })

        $("#OutletTypeId").on("change", function () {
            if ($("#OutletTypeId :selected").text() == "Others") {
                $("#hideSection").hide();
            }

            else {
                $("#hideSection").show();
            }
        })

        $("#btnAdd").on("click", function (e) {
            if ($("#OutletTypeId :selected").text() == "Use Fridge") {

                if ($("#FridgeId").val() == "" || $("#FridgeId").val() == undefined) {
                    $("#FridgeIdError").html("Please Select a Fridge");
                    e.preventDefault();
                    return;
                }
                if ($("#FridgeIssueDate").val() == "" || $("#FridgeId").val() == undefined) {
                    $("#FridgeIssueDateError").html("Please Select Issue Date");
                    e.preventDefault();
                    return;
                }

            }
        });
        
    </script>
}
