﻿@model IceCreamPOS.Models.Outlet

@{
    ViewData["Title"] = "Edit";
}

    <div class="card card-info">
        <div class="card-header">
            <h3 class="text-center h5 font-weight-bold">Update Outlet</h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-4 offset-4">
                    
                    <form asp-action="Edit">
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" name="editValue" value="@Model.Name" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="OutletTypeId" class="control-label"></label>
                            <select asp-for="OutletTypeId" class="form-control" asp-items="ViewBag.OutletTypeList">
                                <option value="">---Select Outlet Type---</option>
                            </select>
                            <span asp-validation-for="OutletTypeId" class="text-danger"></span>
                        </div>

                        <div id="hideSection">
                            <div class="form-group">
                                <label asp-for="FridgeId" class="control-label"></label>
                                <select asp-for="FridgeId" class="form-control" asp-items="ViewBag.FridgeList">
                                    <option value="">---Select Fridge---</option>
                                </select>
                                <span id="FridgeIdError" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FridgeIssueDate" class="control-label"></label>
                                <input asp-for="FridgeIssueDate" type="text" id="FridgeIssueDate" class="form-control" />
                                <span id="FridgeIssueDateError" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-secondary  font-weight-bold">
                                <i class="fas fa-sync-alt"></i>
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a class="btn btn-primary font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
            $(document).ready(function () {
            $("#FridgeIssueDate").datepicker({
                autoclose: true
            });
        })

        $("#OutletTypeId").on("change", function () {
            if ($("#OutletTypeId :selected").text() == "Others") {
                $("#hideSection").hide();
            }

            else {
                $("#hideSection").show();
            }
        })

        $("#btnUpdate").on("click", function (e) {
            if ($("#OutletTypeId :selected").text() == "Use Fridge") {

                if ($("#FridgeId").val() == "" || $("#FridgeId").val() == undefined) {
                    $("#FridgeIdError").html("Please Select a Fridge");
                    e.preventDefault();
                    return;
                }
                if ($("#FridgeIssueDate").val() == "" || $("#FridgeId").val() == undefined) {
                    $("#FridgeIssueDateError").html("Please Select Issue Date");
                    e.preventDefault();
                    return;
                }

            }
        });
</script>
}
