﻿@model IEnumerable<IceCreamPOS.ViewModels.OutletVm>
@{
    ViewData["Title"] = "Index";
}

<div class="card card-info">
    <div class="card-header text-center">
        <div class="h5 text-center font-weight-bold">List of Outlet</div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <a asp-action="create" class="btn btn-success  font-weight-bold">
            <i class="fas fa-plus"></i>
            Add New
        </a>
        <hr />
        <table id="datatable" class="table table-bordered table-striped text-center">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Fridge</th>
                    <th>Issue Date</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OutletType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FridgeName)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.FridgeIssueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>

                        <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-pencil-alt">
                            </i>
                            Edit
                        </a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-trash">
                            </i>
                            Delete
                        </a>

                    </td>
                </tr>
                }

            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>