﻿@model IceCreamPOS.Models.PromotionalOffer

@{
    ViewData["Title"] = "Create";
}

    <style>
        .ui-datepicker-calendar {
            display: none
        }
    </style>

    <div class="card card-info">
        <div class="card-header">
            <div class="font-weight-bold text-center">Add Promotional Offer</div>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-4 offset-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Date" class="control-label"></label>
                            <input asp-for="Date" type="text" placeholder="Select a Date" autocomplete="off" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="RetailDiscount" class="control-label"></label>
                            <input asp-for="RetailDiscount" placeholder="Enter Retail Discount" class="form-control" />
                            <span asp-validation-for="RetailDiscount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DistributorIncentive" class="control-label"></label>
                            <input asp-for="DistributorIncentive" placeholder="Enter Distributor Incentive" class="form-control" />
                            <span asp-validation-for="DistributorIncentive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DistributorAdditionalIncentive" class="control-label"></label>
                            <input asp-for="DistributorAdditionalIncentive" placeholder="Enter Distributor Add. Incentive" class="form-control" />
                            <span asp-validation-for="DistributorAdditionalIncentive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DSRIncentive" class="control-label"></label>
                            <input asp-for="DSRIncentive" placeholder="Enter DSR Incentive" class="form-control" />
                            <span asp-validation-for="DSRIncentive" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                                <i class="fas fa-save"></i>
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $('#Date').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM/yy',
            showButtonPanel: true,

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth));
            },
        });
</script>
}
