﻿@model IceCreamPOS.Models.PromotionalOffer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PromotionalOffer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RetailDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RetailDiscount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributorIncentive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributorIncentive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistributorAdditionalIncentive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistributorAdditionalIncentive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DSRIncentive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DSRIncentive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
