﻿@model IceCreamPOS.Models.PromotionalOffer

@{
    ViewData["Title"] = "Edit";
}


<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title font-weight-bold">Update Promotional Offer</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-4 offset-4">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" type="text" readonly value="@Model.Date.ToString("MMM/yyyy")" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RetailDiscount" class="control-label"></label>
                        <input asp-for="RetailDiscount" class="form-control" />
                        <span asp-validation-for="RetailDiscount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DistributorIncentive" class="control-label"></label>
                        <input asp-for="DistributorIncentive" class="form-control" />
                        <span asp-validation-for="DistributorIncentive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DistributorAdditionalIncentive" class="control-label"></label>
                        <input asp-for="DistributorAdditionalIncentive" class="form-control" />
                        <span asp-validation-for="DistributorAdditionalIncentive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DSRIncentive" class="control-label"></label>
                        <input asp-for="DSRIncentive" class="form-control" />
                        <span asp-validation-for="DSRIncentive" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-info font-weight-bold" />
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
        <div>
            <a class="btn btn-primary font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
