﻿@model IEnumerable<IceCreamPOS.Models.PromotionalOffer>

@{
    ViewData["Title"] = "Index";
}

<style>
    .ui-datepicker-calendar {
        display: none
    }
</style>

<div class="card card-info">
    <div class="card-header">
        <div class="text-center font-weight-bold">Promotional Offer List</div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <a asp-action="create" class="btn btn-success  font-weight-bold">
            <i class="fas fa-plus"></i>
            Add New
        </a>
        <hr />
        <div class="col-6 offset-3">
            <form asp-action="Index">
                <div class="form-group">
                    <input  id="Date" name="Date" placeholder="Select a Month" style="border-top-right-radius:0px;border-bottom-right-radius:0px" readonly type="text" class="form-control float-left col-md-8" />
                    <input type="submit" style="border-top-left-radius:0px;border-bottom-left-radius:0px" value="Show Result" class="btn btn-primary " />
                    <div class="clearfix"></div>
                </div>
            </form>

        </div>
        <hr />

        <table id="datatable" class="table table-bordered table-striped">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RetailDiscount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DistributorIncentive)
                    </th>
                    <th>
                        Distributor Add. Incentive
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DSRIncentive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Date.ToString("MMM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RetailDiscount)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistributorIncentive)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DistributorAdditionalIncentive)%
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DSRIncentive)%
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#Date').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'MM/yy',
            showButtonPanel: true,

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth));
            },
        });
    </script>
}