﻿
@{
    ViewData["Title"] = "Delete";
}

<div class="text-center bg-light p-4 mt-5">


    @if (ViewBag.errorMsg != null)
    {
        <h1 class="text-danger">Delete Failed !</h1><br />
        <p>@ViewBag.errorMsg</p>
    }

    <a asp-action="Index" asp-controller="Home" class="btn btn-info btn-sm">Back to Homepage</a>
</div>

