﻿
@{
    ViewData["Title"] = "NotFoundPage";
}

<div class="text-center bg-light p-4 mt-5">
    <h1 class="text-danger">Page Not Found !</h1>
    <p class="">We are sorry the page you requested could not found.</p><br />
    <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-sm">Back to Homepage</a>
</div>
