﻿
@{
    ViewData["Title"] = "Unknown";
}

<div class="text-center bg-light p-4 mt-5">
    <h1 class="text-danger">Sorry, Something Went Wrong</h1><br />
    @*<p>@ViewBag.errorMsg </p>*@
    <a asp-action="Index" asp-controller="Home" class="btn btn-info btn-sm">Back to Homepage</a>
</div>
