﻿@model IceCreamPOS.Models.Sale

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sales Receipt</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />


</head>
<body>
    <br />
    <div class="row">
        <div class="col-8 offset-2">
            <button class="btn btn-primary mb-4 font-weight-bold" onClick="javascript:CallPrint('divPrint');">Print</button>
        </div>
    </div>
    <div id="divPrint">
        <div class="row">
            <div class="col-sm-12 col-lg-8 offset-lg-2">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3"><div class="h4 text-center">Sales Receipt</div></td>
                    </tr>
                    <tr>

                        <td class="font-weight-bold">Enterprise</td>
                        <td>@Model.Enterprise.Name</td>
                        <td rowspan="3">

                            <div class="text-center  pt-md-4">
                                <div>Sales Order</div>
                                <div class="font-weight-bold ">@Model.SaleNumber</div>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Outlet</td>
                        <td>@Model.Outlet.Name</td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold">Sales Date</td>
                        <td>@Model.SalesDate.ToString("dd/MM/yyyy")</td>
                    </tr>
                </table>

                <div class="font-weight-bold text-center">Order Details</div>
                <br />

                <table class="table table-bordered">

                    <thead style="font-weight:bold">
                        <tr>
                            <td>SL</td>
                            <td>Item Name</td>
                            <td>Price</td>
                            <td>Quantity</td>
                            <td>Total Item Price</td>
                        </tr>
                    </thead>
                    <tbody>
                        @{int count = 0; }
                        @if (Model.SalesDetails != null)
                        {
                            foreach (var item in Model.SalesDetails)
                            {
                        <tr>
                            @{count++; }
                            <td>@count</td>
                            <td>@item.Item.Name</td>
                            <td>@item.UnitPrice.ToString("0.#####")</td>
                            <td>@item.Quantity</td>

                            <td>@item.TotalPrice.ToString("0.#####")</td>
                        </tr>
                            }
                        }


                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div class="col-4 offset-8">
                        <table class="table">
                            <tr>
                                <td class="font-weight-bold">Sub Total</td>
                                <td>@Model.SubTotal.ToString("0.#####")</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Discount</td>
                                <td>@Model.Discount.ToString("0.#####")%</td>
                            </tr>

                            <tr>
                                <td class="font-weight-bold">Total Amount</td>
                                <td>@Model.TotalAmount.ToString("0.#####")</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total Collection</td>
                                <td>@Model.TotalCollection.ToString("0.#####")</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">Total Due</td>
                                <td>@Model.DueAmount.ToString("0.#####")</td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    </div>
    

    <script type="text/javascript">
            function CallPrint(divName) {
        var originalWindow = document.body.innerHTML;

        var printContents = document.getElementById(divName).innerHTML;
        
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalWindow;
    }

    </script>
</body>
</html>

