﻿@model IEnumerable<IceCreamPOS.Models.Sale>

@{
    ViewData["Title"] = "Index";
}

<div class="card card-info">
    <div class="card-header">
        <div class="font-weight-bold text-center">Sales Order List</div>
    </div>
    <div class="card-body">
        <a asp-action="create" class="btn btn-success  font-weight-bold">
            <i class="fas fa-plus"></i>
            New Order
        </a>
        <hr />
        <table id="datatable" class="table table-bordered table-striped">
            <thead class="bg-gradient-gray">
                <tr>
                    <th>
                        Voucher No.
                    </th>
                    <th>
                        Enterprise
                    </th>
                    <th>
                        Outlet
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Collection
                    </th>
                    <th>
                        Due
                    </th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SaleNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enterprise.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Outlet.Name)
                        </td>
                        <td>
                            @item.SalesDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalCollection)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueAmount)
                        </td>

                        <td>
                            <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id" target="_blank">
                                <i class="fas fa-file-invoice">
                                </i>
                                Details/Print
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

