﻿@model IceCreamPOS.Models.Deposite

@{
    ViewData["Title"] = "Create";
}

<div class="card card-info">
    <div class="card-header">
        <div class="font-weight-bold text-center">Make Deposite</div>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-4 offset-4">
                <form asp-action="Create">

                    <div class="form-group">
                        <label asp-for="EnterpriseId" class="control-label"></label>
                        <select asp-for="EnterpriseId" class="form-control" asp-items="ViewBag.EnterpriseList">
                            <option value="">---Select Enterprise---</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" readonly autocomplete="off" type="text" class="form-control" />
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Particular" class="control-label"></label>
                        <input asp-for="Particular" class="form-control" />
                        <span asp-validation-for="Particular" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-block btn-success  font-weight-bold">
                            <i class="fas fa-save"></i>
                            Save Deposite
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <a class="btn btn-primary  font-weight-bold" asp-action="Index"> <i class="fas fa-list"></i> Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            $("#Date").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd MM, yy',
            });
        })
    </script>
}
