﻿@model IceCreamPOS.Models.Deposite

@{
    ViewData["Title"] = "Delete";
}

    <div class="card card-danger">
        <div class="card-header">
            <h3>Delete</h3>
            <h5>Are you sure you want to delete this?</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Model.Date.ToString("dd MMMM, yyyy")
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Particular)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Particular)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <a asp-action="Index" class="btn btn-primary"><i class="fas fa-list"></i> Back to List</a>
                <input type="submit" value="Delete" class="btn btn-danger" />

            </form>
        </div>
    </div>
