﻿@model IEnumerable<IceCreamPOS.Models.Deposite>

@{
    ViewData["Title"] = "Index";
}

    <div class="card card-info">
        <div class="card-header">
            <div class="text-center font-weight-bold">Deposite List</div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <a asp-action="create" class="btn btn-success  font-weight-bold">
                <i class="fas fa-plus"></i>
                Add New
            </a>
            <hr />
            <table id="datatable" class="table table-bordered table-striped">
                <thead class="bg-gradient-gray">
                    <tr>
                        <th>Date</th>
                        <th>Enterprise</th>
                        <th>Particular</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr id="DelRow_@item.Id">
                        <td>
                            @item.Date.ToString("dd MMMM, yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Enterprise.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Particular)
                        </td>
                        <td>
                            @item.Amount.ToString("N")
                        </td>
                        <td>

                            <a class="btn btn-info btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>

                        </td>
                    </tr>
                    }

                </tbody>
            </table>

        </div>
        <!-- /.card-body -->
    </div>
